@import "foundation_and_overrides";
.button {
  @include button();
  background-color: #5da423;
  border-color: #457a1a;
  color: white;
  font-size: 0.8125em;
  -webkit-border-radius: 1000px;
  border-radius: 10px;
  width: 150px;
  margin: 2%;
}


tr, td {
  font-size: 20px;
  color: black;
}

table {
  margin: auto;
}